@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Welcome to the Contract Monthly Claim System</h1>
    <p>This is the system to help you track monthly claims, for Lecturers and Administrators</p>
    <br />
    <button type="button" class="homebtn" value="Lecturer">
        <a href=""
    </button>
    <button class="homebtn">Admin</button>
</div>

